html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #dffee7;
  color: #8C8C8C;
}

.container {
  min-width: 100%;
  justify-content: space-between;
  min-height: 100vh;
  margin-bottom: -100px;
  padding: 0 0 100px 0;
}

.navbar {
  text-align: right;
  background-color: #ADE6A0;
}

.clients-main {
  padding: 10px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.row {
  padding: 2% 3% 2% 3%;
}

.col {
  text-align: center;
  line-height: 2;
  display: flex;
  align-items: center;
}

.green {
  background-color: #a8ccca;
}

.image {
  height: 220px;
  width: auto;
}

.footer {
  background-color: #ADE6A0;
  height: 100px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.footer > a {
  color: #8C8C8C;
}

.test-pic {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 700px) {
  .flxCol {
    flex-direction: column;
  }

  .o2 {
    order: 2;
  }
}